

<div class="main-container">
  <div class="header">
    <mat-toolbar class="header-container">
      <span>Ng2 <span>Chart</span></span>
    </mat-toolbar>
  </div>
  <div class="tabs">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
      <mat-tab label="Line chart"><app-line-chart></app-line-chart></mat-tab>
      <mat-tab label="Bar chart"><app-bar-chart></app-bar-chart></mat-tab>
      <mat-tab label="Mixin chart"><app-mixin-chart></app-mixin-chart></mat-tab>
    </mat-tab-group>
  </div>
</div>