<div class="main-container">
  <div class="header">
    <mat-toolbar class="header-container">
      <span>Ng2 <span>Chart</span></span>
    </mat-toolbar>
  </div>
  <div class="tabs">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
      <mat-tab label="Mixin chart">
        <div class="overlay"></div>
        <app-mixin-chart></app-mixin-chart>
      </mat-tab>
      <mat-tab label="Bar chart">
        <div class="overlay"></div>
        <app-bar-chart></app-bar-chart
      ></mat-tab>
      <mat-tab label="line chart">
        <div class="overlay"></div>

        <app-line-chart></app-line-chart>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
