

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.chart-container{
    width: 700px;
    height: 400px;
    margin: 0 auto;
    margin-top: 30px;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    border-radius: 10px;
    background-color: white;
    padding: 20px 20px;
    canvas{
        width: 100% !important;
        height: 100% !important;
    }
}

// write responsive code for mobile devices
@media only screen and (max-width: 768px) {
    .chart-container{
        width: 500px;
        height: 300px;
        transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    }
}
@media only screen and (max-width: 600px) {
    .chart-container{
        width: 300px;
        height: 200px;
        transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    }
}